{% load i18n %}
{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a class="prev" href="?page={{ page_obj.previous_page_number }}">{{ _('Prev') }}</a>
    {% endif %}

    <span class="current">
        {% blocktrans with page_number=page_obj.number num_pages=page_obj.paginator.num_pages %}
            Page {{ page_number }} of {{ num_pages }}.
        {% endblocktrans %}
    </span>

    {% if page_obj.has_next %}
        <a class="next" href="?page={{ page_obj.next_page_number }}">{{ _('Next') }}</a>
    {% endif %}
</div>
{% endif %}
