<!doctype html>
<head>
    <meta charset="utf-8">
    <title>{% block meta_title %}{{ _('Bike spares') }}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'core/styles/main.css' %}">
</head>
<body>
    <header>
        {% block header %}
        <form class="form search-form" action="{% url 'search' %}" method="GET">
            <input type="search" name="q" placeholder="{{ _('Search...') }}">
            <button type="submit">{{ _('Find') }}</button>
        </form>
        {% endblock %}
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
    <aside class="menu">
        {% block menu %}
        <nav class="menu">
            <a class="menu-item" href="{% url 'home' %}">{{ _('Home') }}</a>
            <a class="menu-item" href="{% url 'add-spare' %}">{{ _('Add spare') }}</a>
            <a class="menu-item" href="{% url 'top-brands' %}">{{ _('Top of brands') }}</a>
        </nav>
        {% endblock %}
    </aside>
</body>
