{% extends "core/base.html" %}
{% load i18n %}

{% block head_title %}{{ _('Search') }}{% endblock %}

{% block content %}
<div class="spare-list">
    {% if not query %}
        <h1>{{ _('Query is empty') }}</h1>
        <p>{{ _('Your query is empty. Please fill the search form.') }}</p>
    {% else %}
        <h1>
        {% blocktrans count counter=paginator.count with total=paginator.count %}Found {{ total }} item for query "{{ query }}"{% plural %}Found {{ total }} items for query "{{ query }}"{% endblocktrans %}
        </h1>
        {% for obj in object_list %}
            <div class="spare-list-item">
                <span>{{ _('Name:') }} {{ obj.name }}</span>
                <span>{{ _('Brand:') }} {{ obj.brand }}</span>
                <span>{{ _('Price:') }} {{ obj.price }}</span>
                <span>{{ _('Contact:') }} {{ obj.contact }}</span>
            </div>
        {% empty %}
            <p>{{ _('No spares found.') }}</p>
        {% endfor %}
    {% endif %}
</div>
{% include "core/blocks/pagination.html" %}
{% endblock %}
