{% extends "core/base.html" %}

{% block head_title %}{{ _('Bike\'s spares catalog') }}{% endblock %}


{% block content %}
<div class="spare-list">
    <h1>{{ _('Spares for bike') }}</h1>
    {% for obj in object_list %}
        <div class="spare-list-item">
            <span>{{ _('Name:') }} {{ obj.name }}</span>
            <span>{{ _('Brand:') }} {{ obj.brand }}</span>
            <span>{{ _('Price:') }} {{ obj.price }}</span>
            <span>{{ _('Contact:') }} {{ obj.contact }}</span>
        </div>
    {% empty %}
        <p>{{ _('No spares was added.') }}</p>
    {% endfor %}
</div>

{% include "core/blocks/pagination.html" %}

{% endblock %}

