{% extends "core/base.html" %}

{% block head_title %}{{ _('Add spare') }}{% endblock %}

{% block content %}
<h1>{{ _('Add new spare') }}</h1>
<form class="form spare-add-form" action="{% url 'add-spare' %}" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">{{ _('Add') }}</button>
</form>
{% endblock %}
