{% extends "core/base.html" %}

{% block head_title %}{{ _('Top brands') }}{% endblock %}

{% block content %}
<h1>{{ _('Top of brands') }}</h1>
<div class="top-brands">
    {% for obj in object_list %}
        <div class="top-brands-item">
            <span>{{ _('Brand: ') }} {{ obj.brand }}</span>
            <span>{{ _('Popularity: ') }} {{ obj.num_brand }}</span>
        </div>
    {% empty %}
        {{ _('No brands here...') }}
    {% endfor %}
</div>

{% include "core/blocks/pagination.html" %}
{% endblock %}
