@charset "utf-8";

html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

body {
    width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

header {
    width: 100%;
    height: 50px;
}

.search-form {
    width: 100%;
}

.search-form input[type="search"] {
    width: 80%;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
}

.search-form button {
    height: 30px;
    vertical-align: middle;
    width: 15%;
}

label {
    display: block;
    font-weight: bold;
}

input {
    display: inline-block;
    height: 25px;
    vertical-align: middle;
    width: 100%;
}

button {
    display: inline-block;
    min-height: 25px;
    padding: 5px 15px;
}

.spare-add-form button[type="submit"] {
    margin-top: 20px;
}

.spare-add-form input {
    margin-bottom: 20px;
}

.spare-list-item {
    margin: 30px 0;
}

.spare-list-item > span {
    display: block;
}

nav.menu {
    margin-top: 30px;
}

nav.menu a {
   display: block;
   color: #800;
   font-size: 16px;
}

.errorlist {
    color: #c00;
    margin-top: 0;
    margin-bottom: 0;
}

.errorlist > li {
    list-style: none;
    margin-left: -40px;
}

.top-brands-item {
    margin: 20px 0;
}

.top-brands-item > span {
    display: block;
}

.pagination {
    margin: 20px 0;
}

.pagination .prev {
    color: #800;
    margin-right: 10px;
}

.pagination .next {
    color: #800;
    margin-left: 10px;
}
